<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <h1>
          Welcome to {{title}}!
        </h1>
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            
            <!-- Icon -->
            <div class="fadeIn first">
              <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div>
        
            <!-- Login Form -->
            <form>
              <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="email" placeholder="Enter UserName"/>
              <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password" placeholder="Enter Password"/>
              <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()" >
            </form>
        
          </div>
        </div>
      
        <router-outlet>
            </router-outlet>
              